@tailwind base;
@tailwind components;
@tailwind utilities;

.size {
  @apply mx-auto w-10/12
}

.active {
  @apply font-bold text-orange-300
}


.gradient-shadow {
  position: relative;
}

.gradient-shadow::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}


/* -------------common -------------- */
.common-title{@apply text-center text-xl text-sky-300 font-bold}

.common-social-btn {@apply rounded-full border-t-0 hover:text-xl border-4 px-4 py-2 border-sky-600 text-white}

.common-input {@apply bg-[#020316] text-white border-[#0095A6] border-b-2  my-5 p-5}

.common-btn{@apply px-5 py-3 shadow-xl  shadow-black font-semibold hover:bg-sky-400 text-base bg-[#0095A6] text-black hover:text-black transition-all duration-300}

.common-bg{background-color: rgb(0, 149, 166);}

.common-bg2{@apply bg-[#020316]}

/* #0095A6 */
/* --------------------------------------- */

.gradient-border {
  border-width: 8px;
  border-image: linear-gradient(to right, #ff0000, #00ff00); /* Adjust gradient colors */
  border-image-slice: 1;
}

.gradient-box-shadow {
  box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.5), 0 0 40px 0 rgb(0, 149, 166); 
}



/* --------------------fonts from google------------------- */

.my-body-font {
  font-family: 'Inter', sans-serif;
  font-family: 'Libre Baskerville', serif;
  /* font-family: 'Work Sans', sans-serif; */
}

.mehedi-font {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Rampart One', sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
}

.title-font{
  font-family: 'Bevan', serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Rampart One', sans-serif;
/* font-family: 'Work Sans', sans-serif; */
}
 /* ------------------------------------------------------------- */




/* ------------- navbar animation color ---------------- */
.nav {
  animation: colorChange 5s infinite alternate;
}

@keyframes colorChange {
  0% {
    @apply bg-[#020316]
  }
  25% {
    @apply bg-[#020316]
  }
  50% {
    @apply bg-[#0095A6];
  }
  75% {
    @apply bg-[#020316]
  }
  100% {
    @apply bg-[#020316]
  }
}

/* ------------------------------------------------------ */














